{% extends "base.html" %}
{% from "partials/icons.html" import icon %}
{% block title %}{{ t.e404.title }}{% endblock %}
{% block main %}
<section class="ph stage" style="min-height:60vh">
  <div class="wrap">
    <p class="eyebrow mono">404</p>
    <h1 class="h1">{{ t.e404.h1 }}</h1>
    <p class="lead" style="margin-bottom:32px">{{ t.e404.lead }}</p>
    <div class="hero-actions">
      <a class="btn btn-marker" href="{{ P }}/">{{ t.e404.home }}</a>
      <a class="link" style="color:#fff" href="{{ P }}/raboti/">{{ t.nav.works }}</a>
      <a class="link" style="color:#fff" href="{{ P }}/ceni/">{{ t.nav.prices }}</a>
    </div>
  </div>
</section>
{% endblock %}
